
$bg: #EDEBE8;
$fontColor: #323642;
$header: #E5E3Da;
$sidebar: #CFCDC4;

$a: #323642;
$logo: #81BD4A;
$logoHover: #6DB160;

$white: #fff;
$black: #000;

//$sidebarBg: #38454E;
//$headerBg: #F07E22;
//$headerBg2: #424F58;
//$orange: #F07E22;
