/* =================================================================================
Sidebar
================================================================================= */
.sidebar {
  //position: fixed;
  //left: 0;
  //top: 0;
  //z-index: 2;
  background: $sidebarBg;

  .logo {
    background: $logo;
    color: $white;
    font-size: 20px;
    padding: 5px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    text-decoration: none;

    &:hover {
      background-color: $logoHover;
    }
  }

  .nav {
    margin-top: 25px;

    a {
      color: $sidebarA;

      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;


      &:hover {
        color: $logo;
        background: $sidebarAhoverBg;
        padding-left: 25px;
      }

      &:active, &:visited {
        background: $sidebarAhoverBg;
      }
    }

    li {

      i {
        margin-right: 10px;
      }
    }
  }

  .logout {
    position: absolute;
    bottom: 0;
  }
}