/* =================================================================================
Sidebar
================================================================================= */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 18px;
  z-index: 2;
  //background: $sidebar;
  height: 100%;

  .nav {
    margin-top: 25px;

    a {
      color: $a;
      border-right: 2px $logo solid;

      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;

      &:hover {
        color: $logo;
        background: $header;
        padding-left: 25px;
      }
    }

    li {

      margin-bottom: 2px;

      i {
        margin-right: 10px;
      }
    }
  }

  .logout {
    position: fixed;
    bottom: 0;
    width: 220px;
    background: #1D2226;
    padding: 15px;

    a {
      margin-right: 10px;
    }
  }
}