@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "colors";
@import 'sidebar';
@import "header";
@import "shortcuts";
@import "mixins";

html,body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  //font-family: 'Open Sans', sans-serif;
  background: linear-gradient(bottom, $bg 70%, $bg);
  color: $fontColor;
  margin: 0;
  font-size: 13px;
  outline: 0;
}

.btn {
  @include no-radius;
}