@import url('https://fonts.googleapis.com/css?family=Montserrat');
//@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "colors";
@import 'sidebar';
@import "header";
@import "shortcuts";
@import "mixins";

html,body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  //font-family: 'Open Sans', sans-serif;
  background: linear-gradient(bottom, $bg 70%, $bg);
  color: $fontColor;
  margin: 0;
  font-size: 13px;
  outline: 0;
}

.btn {
  @include no-radius;
}

a {
  &:hover {
    text-decoration: none;
  }
}

/*
* Customize Div Table
*/
.div-table {
  .row {
    margin-right: 0;
    margin-left: 0;
  }

  &.dark {
    .div-thead {
      background-color: $div-table-header-dark;
      color: $white;
    }
  }

  .div-thead {
    position: relative;
    width: 100%;
    padding: 12px;

  }

  .div-tr {
    padding: 10px;
    border-bottom: 1px #ddd solid;

    &:hover {
      background-color: $div-tr-hover;
      color: $div-tr-hover-txt;
    }
  }
}
/*
* Div Table End
*/